// turning bars to cross
.menu-btn.toggle {
	.bar-top {
		transform: rotate(45deg);
		transform-origin: 1px;
	}
	.bar-middle {
		transform: translateX(-20px);
		background: transparent !important;
	}
	.bar-bottom {
		transform: rotate(-45deg);
		transform-origin: 1px;
	}
}
// icon sizing general
.icon-large {
	width: 3rem;
	height: 3rem;
	.bar-height {
		height: 0.4rem;
	}
}
.icon-normal {
	width: 2rem;
	height: 2rem;
	.bar-height {
		height: 0.3rem;
	}
}
.icon-small {
	width: 1.5rem;
	height: 1.5rem;
	.bar-height {
		height: 0.25rem;
	}
}
.icon-smaller {
	width: 1rem;
	height: 1rem;
	.bar-height {
		height: 0.15rem;
	}
}
// icon sizing xs
@media screen and (min-width: 320px) {
	.icon-xs-large {
		width: 1.5rem;
		height: 1.5rem;
		.bar-height {
			height: 0.2rem;
		}
	}
	.icon-xs-normal {
		width: 1.3rem;
		height: 1.3rem;
		.bar-height {
			height: 0.18rem;
		}
	}
	.icon-xs-small {
		width: 1rem;
		height: 1rem;
		.bar-height {
			height: 0.15rem;
		}
	}
}
// icon sizing sm
@media screen and (min-width: 576px) {
	.icon-sm-large {
		width: 1.8rem;
		height: 1.8rem;
		.bar-height {
			height: 0.22rem;
		}
	}
	.icon-sm-normal {
		width: 1.5rem;
		height: 1.5rem;
		.bar-height {
			height: 0.2rem;
		}
	}
	.icon-sm-small {
		width: 1.3rem;
		height: 1.3rem;
		.bar-height {
			height: 0.18rem;
		}
	}
}
// icon sizing md
@media screen and (min-width: 768px) {
	.icon-md-large {
		width: 2rem;
		height: 2rem;
		.bar-height {
			height: 0.25rem;
		}
	}
	.icon-md-normal {
		width: 1.8rem;
		height: 1.8rem;
		.bar-height {
			height: 0.22rem;
		}
	}
	.icon-md-small {
		width: 1.5rem;
		height: 1.5rem;
		.bar-height {
			height: 0.2rem;
		}
	}
}
// icon sizing lg
@media screen and (min-width: 992px) {
	.icon-lg-large {
		width: 2.5rem;
		height: 2.5rem;
		.bar-height {
			height: 0.3rem;
		}
	}
	.icon-lg-normal {
		width: 2rem;
		height: 2rem;
		.bar-height {
			height: 0.25rem;
		}
	}
	.icon-lg-small {
		width: 1.8rem;
		height: 1.8rem;
		.bar-height {
			height: 0.22rem;
		}
	}
}
// icon sizing xl
@media screen and (min-width: 1200px) {
	.icon-xl-large {
		width: 3rem;
		height: 3rem;
		.bar-height {
			height: 0.4rem;
		}
	}
	.icon-xl-normal {
		width: 2.5rem;
		height: 2.5rem;
		.bar-height {
			height: 0.3rem;
		}
	}
	.icon-xl-small {
		width: 2rem;
		height: 2rem;
		.bar-height {
			height: 0.25rem;
		}
	}
}
// icon sizing xxl
@media screen and (min-width: 1400px) {
	.icon-xxl-large {
		width: 4rem;
		height: 4rem;
		.bar-height {
			height: 0.5rem;
		}
	}
	.icon-xxl-normal {
		width: 3rem;
		height: 3rem;
		.bar-height {
			height: 0.4rem;
		}
	}
	.icon-xxl-small {
		width: 2.5rem;
		height: 2.5rem;
		.bar-height {
			height: 0.3rem;
		}
	}
}
