.Header-container {
	background: var(--bg-header);

	.header-end {
		.profile-pic-container {
			background: var(--bg-rainbow);
			padding: 0.1rem;
			img {
				border: 0.2rem solid var(--bg-header);
			}
		}
		input {
			&::placeholder {
				color: var(--text-header);
				font-size: 1.2rem;
			}
		}
	}
}
