@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
:root {
	--primary-purple: #633ebc;
	--primary-gray: #adb5bd;
	--primary-gray-light: #f3f5f9;
	--primary-gray-dark: #d3d0df;
}
body {
	font-family: "roboto";
}
.cursor-pointer {
	cursor: pointer;
}
.transition-all {
	transition: all ease 0.3s;
}
.bg-default-input {
	background-color: var(--primary-gray);
}
.bg-purple {
	background-color: var(--primary-purple);
}
.bg-gray-light {
	background-color: var(--primary-gray-light);
}
.bg-gray-dark {
	background-color: var(--primary-gray-dark);
}
.text-purple {
	color: var(--primary-purple);
}
.form-element-height {
	height: 40px;
}
